$font-family: 'Bai Jamjuree', sans-serif ;
$fontWeight400: 400 ;
$fontWeight600: 600 ;
$fontsize: 18px ;
$fontsizeh1: 45px ;
$fontsizeh2: 35px ;
$fontsizeh3: 28px ;
$fontsizep1: 20px ;
$fontsizep2: 18px ;
$fontsizep3: 16px ;
