@use './h-colors' as c ;
@use './h-fonts' as f ;

.main .keep {
    padding: 75px ;
    & p{
        margin-bottom: 75px;
        font-size: f.$fontsizep1;
        margin-bottom: 50px !important;
        line-height: 1.5;
        max-width: 690px;
        margin: auto;
        text-align: center;
    }
}

.main .cont-img{
    display: flex;
    & .img-computer{
        width: 50%;
        overflow: hidden;
        & img{
            display: block;
            width: 105%;
            height: auto;
            transform: translateX(-5%);
        }
    }
}

.cont-img .card-group{
    width: 50%;
    padding: 70px 110px;
    & .card{
        margin-bottom: 55px;
        & h3{
            margin-bottom: 10px;
        }
        & p{
            max-width: 400px;
            line-height: 2;
        }
    }
}

.main .access{
    padding: 75px 160px 0;
    & p{
        margin-bottom: 100px;
        max-width: 690px;
        margin: auto;
        text-align: center;
    }
}

.main .access picture{
    display: flex;
    margin-top: 6rem;
    & img{
        display: block;
        margin: auto;
    }
}

.main .supercharge{
    pad: 70px 160px;
    & p{
        margin-bottom: 75px;
        max-width: 690px;
        margin: auto;
        text-align: center;
    }
}

.main .card-group1{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 35px;
    & .card1{
        max-width: 400px;
        height: 200px;
        justify-self: center;
        
        & .cardhead{
            height: 90px;
            margin-bottom: 20px;
        }
        & .cardbody h3{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        & .cardbody p{
            font-size: f.$fontsizep3;
            line-height: 2;
        }
    }
}


.main .clientes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem;
}

.main .download{
    padding: 60px 150px 140px;
    & p{
        max-width: 690px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }
}

.main .download .btn{
    text-align: center;
}

.main .btn .bttn{
    font-size: f.$fontsize;
    letter-spacing: 1px;
    font-weight: f.$fontWeight400;
    padding: 15px 35px;
    color: c.$c-white;
    border-radius: 10em;
    border-bottom: 4px solid;
    background-color: c.$c-StrongCyan;
    margin-right: 10px;
    border-color: c.$c-StrongCyan;
    box-shadow: 0 10px 30px -5px c.$c-StrongCyan;
    &:hover{
        opacity: 0.9;
    }
}

.main .btn .bttn2{
    font-size: f.$fontsize;
    letter-spacing: 1px;
    font-weight: f.$fontWeight400;
    padding: 15px 35px;
    color: c.$c-white;
    border-radius: 10em;
    border-bottom: 4px solid;
    background-color: c.$c-LightBlue;
    margin-right: 10px;
    border-color: c.$c-LightBlue;
    box-shadow: 0 10px 30px -5px c.$c-LightBlue;
    &:hover{
        opacity: 0.9;
    }
}

.contenedor{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .main .keep{
        padding: 75px 80px;
    }

    .main .cont-img{
        flex-direction: column;
    }

    .main .cont-img .img-computer{
        width: 100%;
    }

    .main .cont-img .img-computer img{
        width: 60%;
        margin: auto;
        transform: translateX(0);
    }
    
    .main .cont-img .card-group{
        width: 100%;
        padding: 70px 0 0;
        text-align: center;
    }

    .main .cont-img .card-group .card p{
        margin: auto;
    }
    
    .main .access img{
        width: 80%;
    }
}


@media screen and (max-width: 768px ){
    .main .download .btn .bttn{
        margin-right: 0;
        margin-bottom: 25px;
    }
    .main .download .btn .bttn2{
        margin-right: 0;
    }
}